*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #CECECE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    padding-left: 20px;
}
header img{
  max-width: 80px;
  float: left;
} 
header nav{
    padding-top: 10px;
    height: 70px;
}
header nav ol li{
    float: left;
    list-style-type: none;
  
}
header nav ol li a{
    text-decoration:none;
    padding:15px;
    display: inline-block;
    color:black;
} 
header nav ol li a:hover{
    background-color: black;
    color: white;
}

main{
    width: 70%;
    background-color: #2d3e48;
    float: left;
 
}
main section{
    padding: 30px;
}
main section h2{
    color:white;
    font-size: 1.7em;
    margin-bottom: 20px;
}
main section p{
    color:white;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 200%;
}
aside{
    width: 30%;
    background-color: #425067;
    padding: 30px;
    float: left;
}
aside h2, aside ul li{
    color: white;
    margin-bottom: 15px;
}
aside ul li{
    list-style-type: none;
    border-bottom: 1px solid white;
}

aside ul li:hover{
    border:1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: black; 
}
.containt{
    max-width: 1000px;
    margin: 0 auto;
}

footer{
   clear: both;
   background-color: black; 
   padding: 60px;
   width: 70%;
}
footer section{
    width: 33.3%;
    float: left;
}
footer section p {
    color: white;
    text-align: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(222, 21, 21, 0.5);
    transition: 0.3s;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}
.card img{
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.card .container{
    padding: 10px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(222, 16, 16, 0.745); 
    opacity: 0.7;
}
.card .container h4{
    text-align: right;
    padding-bottom: 3px;
}