*{
    padding: 0px;
    margin: 0px;
}
.formulario{
    padding: 20px;
    margin: 20px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #cecece;
}

::placeholder{
    color:blue;
    opacity: 0.6;
}
.formulario .input label{
    width: 100%;
    color: red;
    user-select: none;
}
.formulario .input input{
    width:95%;
    padding: 10px;
    padding-left: 35px;
    outline: none;
    border-radius: 10px; 
}
.formulario .input{
    padding-bottom: 15px;
    position: relative;
}
.formulario .input input:focus{
    border:none;
    border-bottom: 2px dotted red;
}
.formulario .input input:valid{
    color:green
}

.formulario .input input:invalid{
    color:red;
}
.formulario .input input:required{
    background-color: #cecece;
}
i{
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 20px;
}
.boton{
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}